.catalogPage {
  background: rgba(245, 245, 245, 1);
  padding: 50px 0px;

  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: rgb(208, 1, 1);
    padding-bottom: 10px;
  }

  &__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    color: rgb(208, 1, 1);
    padding-bottom: 10px;
  }
}
