.detail {
  background: #f5f5f5;
  padding: 40px 0px 0px;

  &__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    align-items: flex-start;
    padding: 20px 0px 40px;

    @media (max-width:1590px) {
      gap: 40px;
    }
  }

  .thumbnail {
    border-radius: 10px;
    border: 2px solid transparent;
    padding: 10px;
    transition: border 0.2s ease;

    &:hover {
      border: 2px solid red;
    }

    &.active {
      border: 2px solid rgb(208, 1, 1);
    }

    img {
      width: 80%;
      object-fit: contain;
      border-radius: 10px;
    }
  }

  &__title {
    font-size: 28px;
    font-weight: 300;
    line-height: 36px;
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 50px;

    @media (max-width:1560px) {
      padding-bottom: 30px;
    }
  }

  &__card__info-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__card__info-item {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;

    span {
      padding-left: 20px;
      color: rgba(126, 28, 28, 1);
    }

    @media (max-width:1590px) {
      font-weight: 300;
    }
  }

  &__card__img {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 20px;
    align-items: flex-start;
  }

  &__card__imgs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 550px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: #f0f0f0;
    }

    div {
      width: 120px;
      height: calc(500px / 4);
      border: 1px solid #aaa4;
      border-radius: 15px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;

      img {
        width: 100%;
        object-fit: contain;
        border-radius: 15px;
      }
    }
  }

  &__img {
    width: 100%;
    height: 530px;
    border: 1px solid #aaa4;
    border-radius: 20px;
    background: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      border-radius: 20px;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }

  @media (max-width: 1450px) {
    &__card__imgs {
      div {
        width: 100%;
      }
    }
  }

  @media (max-width: 1200px) {
    padding-top: 20px;

    &__cards {
      grid-template-columns: 1fr;
      gap: 40px;
    }

    &__title {
      padding-bottom: 30px;
    }
  }

  @media (max-width: 700px) {
    &__card__img {
      grid-template-columns: 100px 1fr;
    }

    &__card__imgs div {
      height: 100px;
    }

    &__img {
      height: 430px;
    }
  }

  @media (max-width: 550px) {
    &__card__img {
      grid-template-columns: 1fr;
    }

    &__card__imgs {
      display: flex;
      align-items: center;
      gap: 10px;
      padding-bottom: 10px;

      div {
        width: 100px !important;
        height: 80px;
      }
    }

    .tabs {
      gap: 15px;

      button {
        font-size: 16px;
      }
    }

    &__img {
      order: 1;
    }

    &__like__title {
      font-size: 28px;
      padding: 10px 0;
    }

    &__card__imgs {
      order: 2;
      flex-direction: row;
      overflow-x: auto;
      height: auto;
      width: 100%;
      gap: 10px;

      div {
        height: 111px;
        flex-shrink: 0;
        width: auto;
      }
    }
  }

  @media (max-width: 500px) {
    &__title {
      font-size: 20px;
      line-height: 24px;
    }

    &__card__info-item {
      font-size: 20px;

      span {
        font-size: 18px;
      }
    }
  }

  @media (max-width: 400px) {
    &__card__info-item {
      font-size: 20px;

      span {
        padding-left: 10px;
      }
    }

    &__card__info-list {
      gap: 10px;
    }

    &__card__info-item span {
      padding-left: 10px;
      color: rgb(126, 28, 28);
    }

    &__img {
      height: 350px;
    }

    &__card__imgs {
      div {
        height: 90px;
      }
    }
  }
}