.filterResults {
  background-color: #f5f5f5;
  &__bg {
    background: url(../../assets/img/filterResult.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
  }
  &__top {
    background: #f5f5f5;
    margin-top: -40px;
  }
  &__title {
    font-size: 23px;
    font-weight: 400;
    line-height: 25.3px;
    color: #000000b2;
    padding: 30px 0px;
    border-bottom: 1px solid gray;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    padding: 40px 0px;
  }
}


.error-message {
  color: red;
  font-weight: 500;
  padding: 1rem 0;
}

.no-results-message {
  color: #666;
  padding: 1rem 0;
}
