.prinsp {
  padding: 40px 0px;

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 44, 44, 1);
    padding-bottom: 25px;

    &__left-text {
      font-size: 14px;
      letter-spacing: 1.2px;
      font-weight: 400;
      line-height: 14px;
      color: rgba(168, 168, 168, 0.65);
      padding-bottom: 19px;
    }

    &__left-title {
      font-size: 32px;
      letter-spacing: 1.2px;
      font-weight: 400;
      line-height: 35.2px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: rgba(101, 101, 101, 1);

      span {
        color: rgba(255, 44, 44, 1);
      }
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      transition: 0.6s;

      &-white {
        padding: 10px 10px;
        width: 200px;
        height: 60px;
        border: 2px solid #aaa4;
        background-color: white;
        border-right: none;
        font-size: 18px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-red {
        padding: 10px;
        font-size: 18px;
        width: 60px;
        height: 60px;
        background: rgba(255, 44, 44, 1);
        color: rgba(255, 255, 255, 1);
        font-weight: 500;
        border: 1px solid rgba(255, 44, 44, 1);
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    &__right:hover {
      transform: scale(0.95);
      transition: 0.3s;
    }
  }

  @media (max-width: 1200px) {
    &__top {
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  @media (max-width: 860px) {
    &__top__left-title {
      font-size: 24px;
      line-height: 28px;
    }
  }

  @media (max-width: 460px) {
    &__top__left-title {
      font-size: 20px;
    }

    &__top__right {
      &-white {
        width: 160px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
      }

      &-red {
        width: 50px;
        padding: 0 !important;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          font-size: 14px;
        }
      }
    }

    &__top__right {
      &-white {
        padding: 20px 25px;
      }

      &-red {
        padding: 18px;
      }
    }
  }

  @media (max-width: 400px) {
    &__top__left-title {
      line-height: 24px;
    }
  }
}