.characteristic {
  padding: 15px 0px;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 10px;
    width: 100%;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    margin: 8px 0px;
    font-family: Arial, sans-serif;
    border: 1px solid #aaa4;
  }

  &__row__text {
    color: rgba(0, 0, 0, 0.6);
    font-size: calc(0.666667vh + 0.666667vw);
    font-weight: 300;
    line-height: 160%;
    overflow-wrap: break-word;
    text-align: start;
  }

  &__row__desc {
    font-size: 18px;
    font-weight: 300;
    line-height: 25.6px;
    text-align: left;
  }

  &__table tr:nth-child(odd) {
    background: #f5f5f5;
  }

  &__table td:first-child {
    border-left: 0;
  }

  &__table td:last-child {
    border-right: 0;
  }
}
