.custom__swiper {
  overflow: hidden;
  width: 100%;
  position: relative;
  padding: 50px 0 50px;
  height: 560px;

  &__title {
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: 600;
    color: gray;
  }

  &-content {
    text-align: center;
    padding: 10px;
  }

  &-image {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 20px 30px;
  }

  &-info {
    margin-top: 15px;

    &-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      color: #333;
      text-align: start;
      margin-bottom: 5px;
    }

    &-subtitle {
      text-align: start;
      font-size: 18px;
      color: #a5a5a5;
    }
  }

  .swiper-button {
    position: absolute;
    top: 65px;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    font-size: 10px;

    &.prev-button {
      right: 90px;
    }

    &.next-button {
      right: 10px;
    }

    &::before {
      content: "";
      display: inline-block;
      border: solid #333;
      border-width: 0 2px 2px 0;
      padding: 6px;
    }

    &.prev-button::before {
      transform: rotate(135deg);
    }

    &.next-button::before {
      transform: rotate(-45deg);
    }
  }

  @media (max-width: 1024px) {
    .custom__swiper {
      padding: 10px;

      &-image {
        height: 250px;
        padding: 20px;
      }
    }
  }

  

  @media (max-width: 768px) {
    &-image {
      height: 200px;
    }
  }

  @media (max-width: 500px) {
    &-image {
      height: 180px;
      border-radius: 6px;
    }

    .swiper-button {
      top: 9%;
      width: 30px;
      height: 30px;
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      line-height: 30px;

      &.prev-button {
        right: 60px;
      }
    }

    .swiper-title {
      font-size: 14px;
    }

    .swiper-subtitle {
      font-size: 12px;
    }
  }
}
