.result {
  &__card {
    padding: 10px;
    box-shadow: 1px 1px 10px #aaa7;
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
    position: relative;
    transition: transform 0.6s ease, box-shadow 0.6s ease;

    &__img {
      img {
        width: 100%;
        height: 250px;
        object-fit: contain;
      }
    }

    .result__card__img__btn {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease, right 0.5s ease;

      button {
        background-color: white;
        border: 1px solid #aaa4;
        width: 50px;
        height: 50px;
        padding: 5px;
        font-size: 18px;
        color: red;
        border-radius: 50%;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background-color: #f0f0f0;
        }
      }
    }

    &:hover {
      transform: scale(1.03);
      box-shadow: 1px 1px 10px #aaa9;

      .result__card__img__btn {
        opacity: 1;
        pointer-events: auto;
        right: 20px;
      }
    }

    &__info {
      padding: 10px;

      &-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 16.5px;
        color: rgba(0, 0, 0, 0.7);
        padding: 12px 0px;
      }

      &-title {
        font-size: 16px;
        font-weight: 400;
        line-height: 16.5px;
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }

  @media (max-width: 630px) {
    &__card__info {
      padding: 10px;

      &-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 20.5px;
        color: rgba(0, 0, 0, 0.7);
        padding: 12px 0px;
      }

      &-title {
        font-size: 12px;
        font-weight: 400;
        line-height: 16.5px;
        color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}
