.news {
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px 0px 20px;
  }

  &__loading {
    padding: 40px 0px;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 30px;
    width: 100%;
    text-decoration: none;

    &-img {
      position: relative;
      width: 70px;
      height: 70px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        display: block;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        backdrop-filter: blur(1px);
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        transition: 0.3s;
        z-index: 1;
      }

      &-icon {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 2;

        svg {
          font-size: 25px;
          color: white;
        }
      }
    }

    &:hover .news__top-img::before {
      opacity: 1;
    }

    &:hover .news__top-img-icon {
      display: block !important;
    }

    &-title {
      font-size: 20px;
      font-weight: 400;
      line-height: 25px;
      color: black;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;

    &-ewe {
      padding: 8px 20px;
      font-size: 14px;
      background-color: #333;
      color: white;
      border-radius: 4px;
      border: none;
    }

    &-ewe:hover {
      background-color: #555;
    }

    &-insta {
      padding: 8px 20px;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: #408bd1;
      color: white;
      border: none;
      border-radius: 4px;

      svg {
        font-size: 20px;
      }
    }

    &-insta:hover {
      background-color: #326fa8;
    }
  }

  &__card {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }
  }

  &__image {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }

  &__caption {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

    svg {
      width: 40px;
      height: 40px;
      color: white;
    }
  }

  @media (max-width: 1300px) {
    &__image {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }

    &__cards {
      gap: 10px;
    }
  }

  @media (max-width: 900px) {
    &__cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 600px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 390px) {
    &__cards {
      grid-template-columns: repeat(1, 1fr);
    }

    &__top {
      gap: 10px;

      &-img {
        position: relative;
        width: 60px;
        height: 60px;
      }

      &-title {
        font-size: 18px;
      }
    }
  }
}