.header {
  background: rgba(208, 1, 1, 1);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 990;
  .header__nav__search,
  .custom-dropdown-selected {
    border: none;
    background-color: transparent;
  }


  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px 0px;
    height: 80px;
  }

  &__nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
  }

  &__nav__item {
    &-link {
      font-size: 20px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.9);
      border-bottom: 1px solid transparent;
    }

    &-tel {
      font-size: 20px;
      font-weight: 700;
      line-height: 18px;
      color: rgba(255, 255, 255, 0.9);
    }

    select {
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 19px;
      font-weight: 500;
      line-height: 17px;
      color: rgba(255, 255, 255, 0.9);
    }

    option {
      color: black;
    }
  }

  &__nav__item-phone {
    display: flex;
    gap: 8px;
    flex-direction: column;

    &-link {
      font-size: 15px;
      font-weight: 500;
      line-height: 14px;
      text-align: left;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: rgba(255, 255, 255, 0.7);
    }
  }

  &__nav__search {
    font-size: 26px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &__result {
      position: fixed;
      top: -80px;
      left: 0;
      right: 0;
      background-color: #fff;
      height: 60px;
      z-index: 980;
      padding: 10px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      transition: 0.5s;
    }

    &__result-hide {
      top: 80px;
    }

    &__result-form {
      display: flex;
      align-items: center;
      gap: 10px;

      svg {
        font-size: 24px;
      }

      input {
        width: 100%;
        padding: 10px;
        outline: none;
        border: none;
      }
    }
  }

  &__nav__btn {
    button {
      width: 240px;
      font-size: 19px;
      padding: 8px 16px;
      height: 58px;
      background-color: rgba(255, 255, 255, 0.4);
      color: rgba(255, 255, 255, 1);
      border: 1px solid transparent;
      border-radius: 4px;
    }
  }

  &__nav__right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    &-menu {
      padding-top: 8px;
      border: none;
      background: transparent;
      font-size: 33px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #f0f0f0;
      display: none;
    }
  }

  @media (max-width: 1615px) {
    &__nav__item-phone {
      a {
        font-size: 18px;
      }
    }

    &__nav__btn {
      button {
        padding: 11px 13px;
        background-color: rgba(255, 255, 255, 0.4);
        color: rgba(255, 255, 255, 1);
        border: none;
      }
    }
  }

  @media (max-width: 1500px) {
    &__nav__item-phone {
      display: none;
    }

    &__nav__btn {
      button {
        height: 50px;
        padding: 8px 16px !important;
      }
    }

    &__nav {
      height: 70px;
      padding: 5px 0px;
    }
  }

  @media (max-width: 1120px) {
    &__nav__list {
      position: fixed;
      left: -100%;
      top: 70px;
      width: 100%;
      height: calc(100vh - 100px);
      background-color: #2a2324;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding: 50px 0 0 8%;
      flex-direction: column;
      transition: 0.7s;
      z-index: 1;
    }

    &__nav__item-phone {
      display: flex;
    }

    &__nav__right {
      &-menu {
        display: block;
      }
    }

    &__nav__list-show {
      left: 0;
    }
  }

  @media (max-width: 530px) {
    &__nav__btn {
      display: none;
    }
  }

}

.custom-dropdown {
  width: 140px;
  position: relative;
  display: inline-block;

  &-selected {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;

    span {
      font-size: 17px;
      font-weight: 500;
      line-height: 17px;
      color: rgba(255, 255, 255, 0.9);
    }

    .lang-icon {
      width: 25px;
      height: 25px;
    }
  }

  &-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 100%;
    border-radius: 4px;

    &.show {
      display: block;
    }
  }

  &-option {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    cursor: pointer;

    &:hover {
      background-color: #f0f0f0;
    }

    .lang-icon {
      width: 25px;
      height: 25px;
    }
  }
}
