.auto {
  width: 100%;
  height: 210px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 800px) {
    height: auto; // Height avtomatik o‘lchamlanadi
    background: url("../../assets//img/home-img-min.png") no-repeat center center/cover;
    height: 210px;

    img {
      display: none;
    }
  }
}