.catalog {
  background: url(../../assets/img/catolog-bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0px;

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid rgba(172, 170, 170, 0.548);
    padding-bottom: 20px;
  }

  &__card-link {
    display: inline-block;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    min-height: 48px;
    width: 260px;
    padding: 14px 20px;
    background-color: rgb(208, 1, 1);
    color: white;
    border-radius: 3px;
    border: 1px solid transparent;
    font-size: 15px;
    letter-spacing: 1.1px;
    font-weight: 400;
    transition: background-color 0.3s ease;
    border: 1px solid transparent;
  }

  &__card-link:hover {
    background: #fff;
    color: rgb(208, 1, 1);
    transition: 0.5s;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &-title {
      font-size: 14px;
      letter-spacing: 1.5px;
      font-weight: 400;
      line-height: 14px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: rgba(255, 255, 255, 0.65);
    }

    &-block {
      display: flex;
      align-items: center;
    }

    &-text {
      font-size: 32px;
      font-weight: 400;
      letter-spacing: 1.5px;
      line-height: 35.2px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: rgba(255, 255, 255, 1);

      span {
        color: rgba(255, 44, 44, 1);
      }
    }
  }

  &__info__bottom {
    &-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      text-align: left;
      padding-top: 50px;
      color: rgba(255, 255, 255, 1);
      padding-bottom: 10px;
    }

    &-text {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      &-right,
      &-left {
        font-size: 16px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  @media (max-width: 740px) {
    &__top {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
  }

  @media (max-width: 700px) {
    padding: 20px 0px;

    &__info-text {
      font-size: 25px;
    }

    &__info__bottom-text {
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  @media (max-width: 630px) {
    &__top {
      align-items: start;
    }

    &__info__bottom {
      &-title {
        padding-top: 20px;
      }

      &-text-left {
        font-size: 14px;
      }

      &-text-right {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 500px) {
    &__info-text {
      font-size: 22px;
      line-height: 26px;
      text-align: flex-start;
    }
  }

  @media (max-width: 370px) {
    &__info {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__box-info {
      top: 240px;
      left: 0;
    }

    &__info-text {
      font-size: 19px;
    }

    &__card-link {
      padding: 10px 20px;
    }

    &__info__bottom-text-right,
    &__info__bottom-text-left {
      font-size: 12px;
      line-height: 17px;
    }
  }
}