.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  background: black;
  flex-direction: column;
  overflow: hidden;
  border-right: 1px solid #aaa2;

  &__top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 22px;

    &-title {
      color: rgb(240, 238, 238);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      text-wrap: nowrap;
      padding-top: 10px;
    }

    img {
      width: 60px;
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0px 10px;

    img {
      width: 20px;
    }
  }

  &__left__text {
    display: flex;
    align-items: center;
    gap: 30px;
    color: white;
    font-size: 18px;
    transform: 0.5s;
    width: 300px;
    padding: 15px;
    border-left: 2px solid transparent;
    text-wrap: nowrap;

    svg {
      font-size: 22px;
      color: white;
    }
  }

  &__left__text:hover {
    border-left: 2px solid gray;
    background-color: #aaa1;
  }

  &__left__text.active {
    background-color: #aaa2;
    border-left: 2px solid gray;
  }

  &__btns {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;

    p {
      color: white;
      font-size: 18px;
    }
  }

  &__btns__title {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    text-wrap: nowrap;

    svg {
      font-size: 22px;
      color: white;
    }
  }
}