.tabs {
  padding: 20px 0 10px;
  margin: 30px 0px 0px;
  background-color: white;

  &__card {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    padding-bottom: 10px;
  }

  button {
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
    color: #797979;
  }
}

.tab {
  padding: 10px 5px;
  cursor: pointer;
  border: none;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
  background: transparent;
}

.tab.active {
  border-bottom: 2px solid#FF2C2C;
  color: #ff2c2c;
}

.tab-content {
  width: 100%;
  padding: 10px 0;
  border-radius: 8px;
  background-color: white;

  &-text {
    font-size: 24px;
  }
}

@media (max-width: 860px) {
  .tabs button {
    font-size: 16px;
    white-space: nowrap;
  }
}

@media (max-width: 660px) {
  .tabs__card {
    max-width: 660px;
    overflow-x: scroll;
  }

  .tabs__card::-webkit-scrollbar {
    height: 2px;
    width: 5px !important;
  }
  
  .tabs__card::-webkit-scrollbar-thumb  {
    padding-top: 10px;
    background-color: #a3a3a3;
  }
}
