.productItem {
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px 20px;
    padding: 30px 0px;
  }

  &-pagenetion {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .css-yewtcl-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
    background-color: rgb(208, 1, 1);

    &:hover {
      background-color: rgb(208, 1, 1);
    }
  }

  @media (max-width: 980px) {
    &__cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (max-width: 680px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 440px) {
    &__cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}