.newost {
  &__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: rgba(168, 168, 168, 0.65);
    padding: 40px 0px 20px;
  }

  &__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    text-align: left;
    color: rgba(255, 44, 44, 1);
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 50px 0px;
  }

  &__card {
    box-shadow: 1px 1px 10px #aaa5;
    border-radius: 6px;

    &__img {
      img {
        width: 100%;
      }
    }

    &__info {
      padding: 12px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      &-title {
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        text-align: left;
        color: rgba(72, 72, 72, 1);
      }

      &-text {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
        color: rgba(0, 0, 0, 0.55);
      }

      &-date {
        font-size: 15px;
        font-weight: 600;
        line-height: 23px;
        color: rgba(175, 175, 175, 1);
      }
    }
  }

  @media (max-width: 1150px) {
    &__cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (max-width: 900px) {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
      padding: 20px 0px;
    }
  }
  @media (max-width: 520px) {
    &__cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
