.loadingSin {
  padding: 20px 0;

  &__wrapper {
    padding: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &__item {
    display: grid;
    grid-template-columns: 120px 1fr;
    grid-gap: 20px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-info {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  hr {
    margin: 20px 0;
  }

  &__title {
    height: 46px;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 4px;
  }

  &__text {
    height: 35px;
    width: 280px;
    border-radius: 4px;
  }

  &__img1 {
    width: 100%;
    height: 500px;
    border-radius: 8px;
  }

  &__img2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;

    &__text {
      width: 100%;
      height: 120px;
      border-radius: 4px;
    }
  }

  &__bottom {
    padding-top: 30px;

    &__items {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 20px;
      padding-bottom: 40px
    }

    &__text {
      width: 300px;
      height: 40px;
    }

    &-table {
      height: 60px;
      width: 100%;
      margin-top: 10px;
    }
  }

  @media (max-width: 990px) {
    &__wrapper {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    &__bottom {
      display: none;
    }
  }

  @media (max-width: 480px) {
    &__item {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    &__img2 {
      flex-direction: row;
      order: 2;
    }
  }
}

.bg__animation {
  background: linear-gradient(90deg, #ddd, #eee, #ddd);
  background-size: 200%;
  animation: bgMove 1s linear 0s infinite;
}

@keyframes bgMove {
  to {
    background-position: 200%;
  }
}